<html xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="navbar">
        <nav class="nav">
            <ul class="menuItems">
                <li>
                    <a href="/home" data-item='ORQUESTRA'>ORQUESTRA</a>
                </li>
                <li>
                    <form th:action="@{/logout}" method="post" class="ml-4" sec:authorize="isAuthenticated()">
                        <button type="submit" value="Sair">
                </form>
                </li>
            </ul>
        </nav>
    </header>
</html>